{% extends "layout.html" %} {% block title %} Home Page {% endblock title %} 
{% block content %}

<div class="max-w-7xl mx-auto mt-10 px-6">

    <div class="flex justify-between items-center mb-8">
        <h3 class="text-3xl font-bold">MINTS you'll Love</h3>

        <a href="{% url 'tweet_create'%}"
   class="bg-white text-black px-4 py-2 rounded-xl 
          hover:bg-gray-200 transition font-semibold text-sm">
    + Create
</a>
    </div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for tweet in tweets %}

<div class="rounded-3xl p-6 
            bg-white/5 backdrop-blur-xl
            border border-white/10
            shadow-2xl
            hover:bg-white/10
            hover:scale-[1.02]
            transition duration-300
            h-full flex flex-col justify-between">
        <div class="flex items-center gap-3">

    <!-- Avatar -->
    <div class="w-11 h-11 rounded-full 
                bg-gradient-to-tr from-indigo-500 to-purple-600
                flex items-center justify-center
                font-bold text-lg">
        {{ tweet.user.username|first|upper }}
    </div>

    <div>
        <p class="font-semibold text-white">
            {{ tweet.user.username }}
        </p>

        <p class="text-gray-400 text-sm">
    {{ tweet.created_at|date:"M d, Y • H:i" }}
</p>
    </div>

</div>

        <p class="text-gray-200 mt-4 leading-relaxed text-[17px]">
            {{ tweet.text }}
            <div class="border-t border-white/10 my-4"></div>
        </p>

        {% if tweet.photo %}
        <div class="w-full h-72 object-cover rounded-2xl mt-4 border border-white/10">
            <img src="{{ tweet.photo.url }}"
                 class="w-full h-72 object-cover">
        </div>
        {% endif %}

        {% if tweet.user == request.user %}
        <div class="flex gap-3 mt-4">

            <a href="{%url 'tweet_edit' tweet.id%}"
               class="flex-1 bg-indigo-500 hover:bg-indigo-600
       py-2 rounded-xl font-semibold text-center transition">
                Edit
            </a>

            <a href="{%url 'tweet_delete' tweet.id%}"
               class="flex-1 bg-rose-500 hover:bg-rose-600
       py-2 rounded-xl font-semibold text-center transition">
                Delete
            </a>

        </div>
        {% endif %}

    </div>

    {% endfor %}
    </div>
</div>

{% endblock %}
